# macOS system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs, temp files
*.log
*.tmp
*.bak

# Secrets & Environment
.env
.env.*
*.key
